<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/Footer/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Footer/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/Footer/css/Article-List.css">
    <link rel="stylesheet" href="/Footer/css/Footer-Dark.css">
    <link rel="stylesheet" href="/Footer/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nav-bar/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/nav-bar/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/nav-bar/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/nav-bar/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/nav-bar/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/css/Team-Boxed.css">
    <link rel="stylesheet" href="/Career/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Career/css/styles.css">
</head>

<body>
<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron card card-block">
                <h2>Nursing</h2>
                <ul>
                    <li>
                        <p>Hospitals are the largest employers of nurses, who staff all sections in hospitals. Nurses
                            carry out the orders provided by doctors and see to the daily needs of patients who are
                            staying in rooms at the hospital. Nurses assist physicians in surgery and staff various
                            services in hospitals 24 hours a day.
                        </p>
                    </li>
                    <li>
                        <p><h4>Surgery : </h4>
                        Hospitals stock and staff surgical suites that can be used for outpatient services or in-depth
                        procedures, such as transplants, heart surgery and repairing broken bones. While many hospitals
                        employ surgeons full-time on staff, others make their surgical services available to affiliated
                        doctors. Surgical services include anesthesiology services, nursing care, pre- and
                        post-operative rooms, and lab and x-ray technicians.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/Career/js/jquery.min.js"></script>
<script src="/Career/bootstrap/js/bootstrap.min.js"></script>
<div th:replace="fragments/Footer/Footer :: footer"></div>
</body>

</html>