<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/Footer/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Footer/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/Footer/css/Article-List.css">
    <link rel="stylesheet" href="/Footer/css/Footer-Dark.css">
    <link rel="stylesheet" href="/Footer/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nav-bar/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/nav-bar/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/nav-bar/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/nav-bar/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/nav-bar/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/css/Team-Boxed.css">
    <link rel="stylesheet" href="/Career/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Career/css/styles.css">
</head>

<body>
<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron card card-block">
                <h2>Pharmacy</h2>
                <ul>
                    <li>
                        <p>Hospitals provide pharmacy services that supply patients with medications as prescribed. In
                            addition to providing inpatients with medicine, many hospital pharmacies can fill
                            prescriptions for patients as they leave.
                        </p>
                    </li>
                    <li>
                        <p><h4>Specialties : </h4>
                        Various hospitals provide specialty services such as cardiology wards, cancer centers, pediatric
                        services and rehabilitation units. Nurses and technicians who work in specialty units receive
                        additional training to serve that population. Patients may receive ongoing treatment as
                        outpatients through a hospital-run clinic as well as surgical and rehabilitation services in the
                        same facility. Specialty units at hospitals typically provide social services in addition to
                        medical treatments in the form of specialized referrals or in-house counselors.
                        </p>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>
    <script src="/Career/js/jquery.min.js"></script>
    <script src="/Career/bootstrap/js/bootstrap.min.js"></script>
<div th:replace="fragments/Footer/Footer :: footer"></div>
</body>

</html>