<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/Footer/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Footer/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/Footer/css/Article-List.css">
    <link rel="stylesheet" href="/Footer/css/Footer-Dark.css">
    <link rel="stylesheet" href="/Footer/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nav-bar/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/nav-bar/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/nav-bar/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/nav-bar/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/nav-bar/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/css/Team-Boxed.css">
    <link rel="stylesheet" href="/Career/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Career/css/styles.css">
</head>

<body>
<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron card card-block">
                <h2>Emergency Care</h2>
                <ul>
                    <li>
                        <p>Most hospitals provide emergency care for traumas and other serious conditions. Emergency
                            room staffs are prepared to provide triage and stabilize patients until they can be moved to
                            a room or treated and released.Most doctors are affiliated with one or more hospitals where
                            they can perform procedures on the patients they see in their offices. Hospitals offer a
                            variety of services that mainly cover inpatient procedures that require overnight stays or
                            outpatient operations that require anesthesia or use of expensive diagnostic and surgical
                            equipment.
                        </p>
                    </li>
                    <li>
                        <p><h4>Maternity : </h4>
                        Many hospitals provide maternity care. Rooms are available that are all-inclusive where mothers
                        can give birth, nurse their babies and spend a day two recovering from the delivery. Other
                        hospitals utilize operating rooms for deliveries and nurseries for the newborns. Newborn
                        intensive care facilities are available at most hospitals for babies born prematurely or with
                        other serious medical conditions. Maternity hospitals also prepare for emergency deliveries and
                        those with complications that require special care.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/Career/js/jquery.min.js"></script>
<script src="/Career/bootstrap/js/bootstrap.min.js"></script>
<div th:replace="fragments/Footer/Footer :: footer"></div>
</body>

</html>